# Archivos de variables de entorno
.env

# Archivos generados por Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Archivos de IDEs
.idea/
.vscode/
*.iml

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos sensibles de Android
android/key.properties
android/app/*.jks
android/app/*.keystore

# Archivos generados por Android Studio/Gradle
android/.gradle
android/app/build/
android/local.properties

# Archivos generados por Xcode/CocoaPods
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/flutter_assets/
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_export_environment.sh

# Archivos de logs y otros
*.log